/* Footer.css */

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
  }
  
  .footer-text {
    margin: 0; /* Remove default margin */
  }
  